*{
    color:white;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
 font-family: 'Itim',cursive;
}

body{
    background: color #0e2f2f;;
}
.container{
    width:800px;
    background-color: #0e2f2f;
    margin-left:300px;
    margin-top:150px;
    border-radius:10px;
    
}
h2{
    font-weight: bolder;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: darkorange;
    text-shadow: 2px 1px 3px ;
    font-family:'Itim',cursive;
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    font-family:'Roboto Slab' serif;
font-size: large;
margin-left:20px;
}
form{

margin-left:20px;
font-size: large;
font-weight: bolder;

}
input{
    width: 300px;
    padding:15px;
    margin: 10px;
    border-radius: 10px;
    color:white;
    background-color:dimgray;
    font-weight: bolder;
    font-size: large;
}
#selectAge{
    
    text-align: center;
    padding-left: 150px;
    
}
#calculator{
    padding: 20px;
    width:200px;
    color:white;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 200px;
    font-size:large;
    margin-top: 20px;
    background-color: darkorange;
}
#reset{

width:100px;
border-radius: 10px;
font-weight:bolder;
font-size:x-large;
    
    background-color: darkorange;

}

#reset:hover{
    background-color:rgb(83, 83, 82);
}
#calculator:hover{
    background-color:rgb(83, 83, 82);
}
#total{
    text-align: center;
    margin-top:10px
}
.socialMedia{
    margin-top: 20px;
text-align: center;  
}